@import "tailwindcss";

@theme {
  --font-garamond: "EB Garamond", serif;
}

@utility font-garamond {
  font-family: var(--font-garamond);
}

@layer utilities{
    .naranja {
        color: #E85D04;
    }
    .verde-olivo {
        color: #5C6B2F;
    }
    .gris-claro {
        color: #F5F5F5;
    }
    .verde-olivo-claro {
        color:  #7A8B4A;
    }
    .naranja-claro {
        color: #F48C06;
    }
    .bg-gris-claro {
        background-color: #F5F5F5;
    }
    .bg-verde-olivo {
        background-color: #5C6B2F ;
    }
    .bg-naranja {
        background-color: #E85D04;
    }
    .bg-naranja-oscuro:hover {
        background-color: #D45103;
    }
    .hueso {
        color: #f5f5f5f5;
    }
    .bg-terracota {
        background-color: #C75B3F;
    }
    .terracota-oscuro {
        color: #8B3A2F;
    }
    .bg-terracota-oscuro-hover:hover {
        background-color: #8B3A2F;
    }
    .bg-negro-profundo {
        background-color: #1A1A1A;
    }
}

    @keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-10px) rotate(0.5deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
    }

    .animate-float {
    animation: float 4s ease-in-out infinite;
    }